// MAIN COLORS

// Black to White
$black: #000000;
$carbon: rgb(51, 51, 51);
$darkgrey: rgb(77, 77, 77);
$midgrey: rgb(102, 102, 102);
$lightgrey: rgb(128, 128, 128);
$grey: rgb(153, 153, 153);
$darksilver: rgb(179, 179, 179);
$midsilver: rgb(204, 204, 204);
$lightsilver: rgb(230, 230, 230);
$snow: rgb(250, 250, 250);
$white: #FFFFFF;


// THEME COLORS
$darkgreen: rgb(47, 64, 58); //2f403a
$midgreen: rgb(152, 167, 131); //98a783
$lightgreen: rgb(212, 215, 191); //d4d7bf
$olive: rgb(162, 164, 110); //a2a46e
$palewhite: rgb(242, 240, 227); //f2f0e3
$palecarbon: rgb(75, 79, 82); //4b4f52
$paleblack: rgb(34, 34, 34); //222222
$red: rgb(201, 59, 43); //c93b2b
$icongreen: rgb(25, 212, 94); //19d45e
$menuwhite: rgb(242, 242, 239); //#F2F2EF
